<p id="notice"><%= notice %></p>

<h1>Requirements</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Status</th>
      <th>Nota</th>
      <th>Dataapresentacao</th>
      <th>Banca</th>
      <th>Orientador</th>
      <th>Aluno</th>
      <th>Documento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requirements.each do |requirement| %>
      <tr>
        <td><%= requirement.type %></td>
        <td><%= requirement.status %></td>
        <td><%= requirement.nota %></td>
        <td><%= requirement.dataApresentacao %></td>
        <td><%= requirement.banca %></td>
        <td><%= requirement.orientador %></td>
        <td><%= requirement.aluno %></td>
        <td><%= requirement.documento %></td>
        <td><%= link_to 'Show', requirement %></td>
        <td><%= link_to 'Edit', edit_requirement_path(requirement) %></td>
        <td><%= link_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requirement', new_requirement_path %>
